 docker container rm $(docker container ls -aq --filter "name=mysql-musica-catalogo") --force
 docker run -p 3306:3306 --name mysql-musica-catalogo -e MYSQL_DATABASE=musica_catalogo -e MYSQL_ALLOW_EMPTY_PASSWORD=yes -d mysql
 docker exec -it mysql-musica-catalogo bash
 mysql
 use musica_catalogo;
 <<CREATE TABLE HERE>>
 ALTER USER 'root'@'%' IDENTIFIED BY 'd3s3nv';
 ALTER USER 'root'@'%' IDENTIFIED WITH mysql_native_password BY 'd3s3nv';
 ALTER USER 'root'@'localhost' IDENTIFIED BY 'd3s3nv';
 ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'd3s3nv';
 FLUSH PRIVILEGES;
 quit;
 exit